%html
  %head
    %title My App
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{"data-spy"=>"scroll","data-target"=>".bs-docs-sidebar","data-twttr-rendered"=>"true"}
    #main
      - if !session[:User].blank?
        %div{:class=>"navbar navbar-inverse navbar-fixed-top"}
          %div{:class=>"navbar-inner"}
            %div{:class=>"container"}
              %div{:class=>"nav pull-right"}
                %ul{:class=>"nav nav-pills"}
                  %li
                    =link_to session[:User][:Username], edit_user_path
                  %li 
                    =link_to "Sign out", logout_user_index_path
      %div{:style=>"width:960px;margin:0 auto;margin-top:43px"}
        - if flash[:notice]
          %span#notice.message{:class=>"label label-success"}= flash[:notice]
        - elsif flash[:warning]
          %span#warning.message{:class=>"label label-warning"}= flash[:warning]
        - elsif flash[:error]
          %span#warning.message{:class=>"label label-important"}= flash[:error]
        = yield
