%div{:class=>'container'}
  %h1 Update Request
  = form_tag request_path(@request), :method => :put do
    %fieldset
      %div{:class=>"form-inline"}
        %label{:class=>"checkbox"} Urgent
        - if @request.urgent
          %input{:type=>"checkbox",:name=>"urgent", :disabled => true, :checked => 'checked'}
        - else
          %input{:type=>"checkbox",:name=>"urgent", :disabled => true}
          
        %label Issue Type
        %select{:name=>"IssueType", :disabled => true, :value => @request.IssueType}
          %option{:value=>"1"} Hardware
          %option{:value=>"2"} Software
          %option{:value=>"3"} Network
          %option{:value=>"4"} Login
          %option{:value=>"5"} Peripheral
      %div{:class=>"form-inline"}
        %label Computer Name
        %select{:name=>"ComputerName",:align=>"right", :disabled => true, :value => @request.ComputerName}
          %option{:value=>"MC"} Michael Carter's Laptop
          %option{:value=>"CG"} Carlos Gonzalez's Desktop
          %option{:value=>"MK"} Meenal's Tablet
          %option{:value=>"HS"} Harpreet Singh's Workbench
      %div
        %label Subject
        %input{:type=>"text",:name=>"Subject",:style=>"width:545px", :disabled => true, :value => @request.Subject}
      
        %label Description
        %textarea{:rows=>"3",:name=>"Description",:style=>"width:545px", :disabled => true }= @request.Description
      
        %label Updates
        %ul
          -@request.updates.sort.each do |update|
            %li= update.Date.to_s + " - " + update.UpdateText.to_s
      
        %label Update
        - if session[:User][:UserType]==0
          - if @request.complete
            %textarea{:rows=>"3", :name=>"UpdateText", :style=>"width:545px" , :disabled => "true"}
          - else
            %textarea{:rows=>"3", :name=>"UpdateText", :style=>"width:545px" }
        - else
          %textarea{:rows=>"3", :name=>"UpdateText", :style=>"width:545px" , :disabled => "true"}
      
        %label Solution
        - if session[:User][:UserType]==0
          - if @request.complete
            %textarea{:rows=>"3", :name=>"Solution", :style=>"width:545px" , :disabled => "true"}
          - else
            %textarea{:rows=>"3", :name=>"Solution", :style=>"width:545px" }
        - else
          %textarea{:rows=>"3", :name=>"Solution", :style=>"width:545px" , :disabled => "true"}
      %div{:class=>"form-inline"}
        %label Assigned Issue
        %select{:name=>"Owner", :align=>"right"}
          - @users.each do |user|
            %option{:selected => @request.owner == user.Username, :value=>user.Username}#{user.Username}
      
        %label{:class=>"checkbox"}
        - if @request.complete
          %input{:type=>"checkbox",:name=>"complete", :disabled=>true,:checked => "#{@request.complete}"}Complete
        - else
          %input{:type=>"checkbox",:name=>"complete"}Complete
      %div{:class=>"form-inline"}
        = submit_tag 'Submit'
        = button_to "Go Back", '#', :onclick => 'history.back(); return false;'



